$quantity: 15;

.bgOverlay { 
  width: 100%;
  height: 100vh;
  background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: 0px 10px 13px -7px #29514e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  z-index: 98;
  
  .fireflies {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .firefly {
    position: absolute;
    left: 30%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform-origin: -10vw;
    }

    &::before {
      background: black;
      opacity: 0.4;
      animation: drift ease alternate infinite;
    }

    &::after {
      background: white;
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
      animation: drift ease alternate infinite, flash ease infinite;
    }
  }
  
  // Randomize Fireflies Motion
  @for $i from 1 through $quantity {
    $rotationSpeed: random(10) + 8s;
  
    .firefly:nth-child(#{$i}) {
      animation: move#{$i} $rotationSpeed ease-in-out infinite;
  
      &::before {
        animation-duration: #{$rotationSpeed};
      }
      &::after {
        animation-duration: #{$rotationSpeed}, #{random(6000) + 5000}ms;
        animation-delay: 0ms, #{random(8000) + 500}ms;
      }
    }
  
    // Manually define keyframes with static steps
    @keyframes move#{$i} {
      0% {
        transform: translateX(#{random(100) - 50}vw) translateY(#{random(100) - 50}vh) scale(#{random(75) / 100 + .25});
      }
      20% {
        transform: translateX(#{random(100) - 50}vw) translateY(#{random(100) - 50}vh) scale(#{random(75) / 100 + .25});
      }
      40% {
        transform: translateX(#{random(100) - 50}vw) translateY(#{random(100) - 50}vh) scale(#{random(75) / 100 + .25});
      }
      60% {
        transform: translateX(#{random(100) - 50}vw) translateY(#{random(100) - 50}vh) scale(#{random(75) / 100 + .25});
      }
      80% {
        transform: translateX(#{random(100) - 50}vw) translateY(#{random(100) - 50}vh) scale(#{random(75) / 100 + .25});
      }
      100% {
        transform: translateX(#{random(100) - 50}vw) translateY(#{random(100) - 50}vh) scale(#{random(75) / 100 + .25});
      }
    }
  }
  

  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }
}
